body {
    background: url('../img/tags.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Lato', sans-serif !important;
}

.home-title {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 3.5rem;
    margin-top: 10px;
}

.home-listing-button {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: 300;
}

.home-container {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img.nav-image {
    transition: transform 0.7s;
}

img.nav-image:hover {
    transition: transform 0.7s;
    transform: scale(1.05);
}

.header-link {
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    transition: transform 0.7s;
    position: relative;
    display: inline-block;
    transition: color .2s ease;
}

.header-link:hover {
    color: #f5f5f5;
    text-decoration: none;
}

.header-link:hover::after,
.header-link:hover::before {
    width: 100%;
    left: 0;
}

.header-link::after,
.header-link::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
}

.header-link::before {
    transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: #E4DEC3;
}

.header-link::after {
    transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #CDAE9F;
}

.login-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-form-container {
    height: 400px;
    background: #f5f5f5;
    padding: 30px;
}

.contact-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-seller-container {
    margin: 0;
    position: absolute;
    top: 57%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-form-container {
    background: #f5f5f5;
    padding: 30px;
}

.signup-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.signup-form-container {
    background: #f5f5f5;
    padding: 30px;
    text-align: left;
}

.container.contact-container {
    text-align: center;
}

.listings-container {
    text-align: center;
    max-width: 100% !important;
}

.listing-card {
    margin-bottom: 25px;
    height: 230px;
    width: 100%;
    transition: transform 0.7s;
    padding: 0 5px;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 3px #f5f5f5;
    border-radius: 5px;
    position: relative;
}

.listing-card:hover {
    margin-bottom: 25px;
    transition: transform 0.7s;
    transform: scale(1.02);
}

.listing-card-price {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #d7d7d7;
    padding: 1px 10px;
    border-radius: 11px;
    font-size: 0.8rem;
    color: #212121;
    text-decoration: none;
}

.form-row {
    justify-content: flex-end;
}

.form-row1 {
    justify-content: flex-start;
}

.add-container {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.add-form-container {
    background: #f5f5f5;
    padding: 30px;
}

.item-container {
    background: #f5f5f5;
    padding: 30px;
    margin-top: 5%;
}

h1.listing-title {
    text-align: center;
}

.del-form-container {
    height: 100px;
    /*background: #f5f5f5; */
    padding: 30px;
    justify-content: space-evenly;
}

.description-title {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#navderek ul {
    background: #fff;
    background: rgba(255, 255, 255, 0);
    list-style: none;
    position: absolute;
    z-index: 80;
    display: none;
    /*left:-9999px;*/
}

#navderek li:hover ul {
    /*left:0;*/
    display: block;
}

.sign-up-prompt {
    margin-top: 10px;
}

.flash-message {
    text-align: center;
    border: solid 1px #F29B6F;
    width: 80%;
    margin: 5px auto -15px auto;
    padding: 10px;
    font-weight: 700;
    background: #f29b6f73;
}

.profile-card {
    height: 25.625rem;
    margin: 0 2rem 2rem;
    width: 18.75rem;
    background-color: #fff;
    border: none;
    border-radius: 0.1875rem;
    box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, .21);
    position: relative;
    width: 18.75rem;
}

.profile-container {
    text-align: center;
    max-width: 90% !important;
    margin-top: 50px;
    height: 100%;
}

.profile-card-heading {
    height: 115px;
}

.profile-card-body {
    background-color: #f6f7f9;
    border-radius: 0 0 0.1875rem 0.1875rem;
    border-top: 0.0625rem solid #e8ebf1;
    height: 265px;
    padding-top: 60px;
}

.profile-card-img {
    top: 50px;
    background-color: #fff;
    border: 0.25rem solid #fff;
    box-shadow: 0 0.25rem 0.5rem 0 #b9c0cb;
    font-size: 3.75rem;
    border-radius: 2em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 2em;
    letter-spacing: 0.0313em;
    line-height: 2em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transform: translate(0, 0);
    width: 2em;
    background: url(https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png);
    background-size: cover;
}

.img-container {
    display: flex;
    justify-content: center;
}

.profile-name {
    font-size: 2rem;
    color: #596778;
    font-weight: 600;
}

.contact {
    color: #596778;
    font-size: 1.1rem;
    font-weight: 300;
}

.profile-options {
    background-color: #fff;
    border-radius: 0 0 0.1875rem 0.1875rem;
    border-top: 0.0625rem solid #e8ebf1;
    display: -webkit-box;
    display: flex;
    height: 3.125rem;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
}

a.profile-option {
    align-items: center;
    border-radius: 0;
    color: #008be1;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0;
    font-weight: 700;
    height: 100%;
}

a.profile-option:hover {
    border-color: transparent;
    text-decoration: none;
    background-color: #2286ec;
    color: #fff;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .hide-on-mobile {
        display: none !important;
    }
    body {
        background: url('../img/tags-mobile.jpeg');
    }
    .home-container {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .signup-container {
        margin: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .form-row {
        justify-content: center;
    }
    .filter-select {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {}

@media only screen and (min-width: 767px) {
    .hide-on-med-and-up {
        display: none !important;
    }
}

@media only screen and (min-width: 1500px) {}